html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.input {
  display: inline-block;
  margin: 0 10px;
  width: 300px;
  height: 20px;
  outline-color: rgb(120, 167, 167);
}

.countries-list-item-flag {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.countries-list-item {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.countries-list {
  width: 100%;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.countries-list-item-text {
  text-align: center;
  margin: 0;
}

.country-wrapper {
  display: flex;
  border-radius: 10px;
  padding: 0;
  width: 60%;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.country-description {
  width: 40%;
  padding: 20px;
}

.country-flag {
  padding: 10px;
  width: 60%;
}

.country-flag-img {
  display: block;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
